<%= form_for ([:admin, @tour, @image]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    Add an image....
    <%= f.file_field :link %>
  </div>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>
