<div class="container">
  <h3 style="margin-bottom: 30px; margin-top: 30px"><em>We found "<%= pluralize(@tours.count, "tour")%>" for your looking</em></h3>
  <div class="row">
    <%= render @tours %>
  </div>
</div>
